{
  "extends": [
    "plugin:vue/vue3-recommended"
  ],

  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "extraFileExtensions": [".vue", "@vue/standard"]
  },
  // "overrides": [
  //   {
  //     "files": [
  //       "**/test/unit/**/*.spec.{j,t}s?(x)"
  //     ],
  //     "env": {
  //       "jest": true
  //     }
  //   }
  // ],
  "rules": {
    "max-lines-per-function": "off"
  }
}